*{
    margin: 0;
    font-family: "Kanit", sans-serif;
}
.nav{
    display: flex;
    background-color: black;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
}

.nav .logo{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    padding-left: 24px;
    padding-right: 24px;
}
.nav a{
    color: aliceblue;
    text-decoration: none;
    padding-left: 40px;
    font-size: 16px;
}
.btn{
    background-color: green;
    border-radius: 7px;
    border-color: transparent;
    height: 70px;
    width: 90px;
    transition: 0.3s;
}
.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.card{
    background-color: rgb(252, 245, 213);
    margin: 20px;
    margin-top: 10px;
    border-radius: 8px;
    height: 250px;
    justify-content: center;
    display: flex;
    width: 700px;
    float: left;
}
.card p{
    padding: 10px;
    float: left;
    width: 70%;
}
.card1 button{
    width: 150px;
}
.card1{
    background-color: rgb(252, 245, 213);
    margin: 20px;
    margin-top: 10px;
    border-radius: 8px;
    height: 250px;
    justify-content: center;
    display: flex;
    width: 700px;
    float: none;
}
.card1 p{
    padding: 10px;
    float: left;
    width: 70%;
}
.card1 button{
    width: 150px;
}
img{
    border-radius: 8px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn:hover{
    background-color: rgb(255, 255, 255);
}
.btn:hover a{
    color: black;
}
.foot{
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.foot a{
    text-decoration: none;
    color: white;
}
.menu img{
    height: 270px;
    width: 350px;
    float: left;
    display: flex;
    margin-left: 80px;
    margin-right: 30px;
    margin-bottom: 80px;
    margin-top: 10px;
}
.menu p{
    margin-top: 10px;
    margin-right: 80px;
}
.menu button{
    width: 100px;
    margin-top: 20px;
}